*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{

background: linear-gradient(135deg, violet, blue, red);
  max-width: 100vw;

}
.nameAndLittleAnimation{
  width: 100vw;
  height: 50vh;
  border-radius: 10px;
  padding: 10px;
  
  background-color: blue;
}
.ayushAnimation{
  margin-bottom: 10px;
  text-align: center;
  color: blue;
  background-color: black;

}
.ball {
  position: absolute;
  width: 150px;
  height: 150px;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 5px dotted black;
  border-radius: 50%;
 background: radial-gradient(circle, yellow, green);

}
.nameBall {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
  font-weight: 900;
  width: 150px;
  height: 150px;
  list-style: none;
  padding: 0;
  border: 2px solid red;
  border-radius: 50%;
background: radial-gradient(circle at 30% 30%, #ffcc70, #ff6600);
  text-align: center;
}
.ball li {
  position: absolute;
  left: 50%;
  transform-origin: center; 
  width: 2px;
  height: 100%;
  background: black;
  
}
.myAnimationArea{
  display: flex;
  flex-wrap: wrap;
  
  margin: auto;
  background-color: blue;
  position: relative;
}
.nameContainer{
  display: flex;
justify-content: center;

position: relative;
flex-wrap: wrap;
align-items: center;
background: linear-gradient(90deg, blue, yellow);
max-width: 100vw;
max-height: 20vw;
overflow: hidden;
}
.gameSection{


 width: 90vw;
 height: 90vh;
 margin: auto;
  background: linear-gradient(135deg,red,blue);
 border: 2px solid black;
}
.gameArea{
  display: flex;
  justify-content: start;
  align-items: flex-end;
  flex-wrap: wrap;
  background-color: blue;
  position: relative;
  width: 100%;
  height: 100%;
}
.player{
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: black;
  border: 2px solid white;
  border-radius: 10px;
}